
<!-- 头部 -->
{include file="public/head"/}
<!-- 引入侧边栏菜单 -->
{include file="public/sidebar"/}

<!-- 引入顶部导航 -->
{include file="public/top_nav"/}

<!-- 内容开始 -->

<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div style="margin:0 0 10px 0px;background:white;padding:15px;"><a href="/admin">主页</a> > <a href="">修改密码</a></div>
        <a href="{:url('/admin/admin/adminList')}" style="position:absolute;top:15px;right:35px;"><i class="fa fa-reply-all"></i> 返回</a>
        <div class="x_panel">

            <div class="x_title">
                <h2>修改密码</h2>

                <div class="clearfix"></div>
            </div>
            {if condition="$returnData['resultCD'] == 200"}
            <form class="layui-form" method="post" action=""  lay-filter="form1" autocomplete="off">


                <div class="layui-form-item ">
                    <label class="layui-form-label">重新输入密码验证</label>
                    <div class="layui-input-inline">
                        <input type="text" name="loginPwd" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                    </div>
                </div>
                <div class="layui-form-item hidden">
                    <label class="layui-form-label">操作</label>
                    <div class="layui-input-inline">
                        <input type="text" name="actionType"  value="verify" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="submit1">确定</button>
                    </div>
                </div>

            </form>

            {elseif condition="$returnData['resultCD'] == 400"/}
            <form class="layui-form" method="post" action=""  lay-filter="form2" autocomplete="off">


                <div class="layui-form-item ">
                    <label class="layui-form-label">输入新密码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="password" required id="pwd" lay-verify="required|pass" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                    </div>
                </div>

                <div class="layui-form-item ">
                    <label class="layui-form-label">再次输入新密码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="rePassword" required  lay-verify="required|rePassword" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                    </div>
                </div>

                <div class="layui-form-item hidden">
                    <label class="layui-form-label">操作</label>
                    <div class="layui-input-inline">
                        <input type="text" name="actionType"  value="edit" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="submit2">确定</button>

                    </div>
                </div>

            </form>
            {/if}

        </div>
    </div>
</div>

<!-- /内容结束 -->

<!-- 引入底部 -->
{include file="public/footer"/}
<script>
    layui.use(['layer','form','table','laydate'],function(){
        var layer = layui.layer,
            form = layui.form,
            table = layui.table,
            laydate=layui.laydate;

        // 修改车辆
        form.on('submit(submit)', function(data){
            var data1=data.field;
            if (data1.sale_state===undefined || data1.sale_state!="1"){
                data1.sale_state="0";
            }
            layer.open({
                title : '提示',
                content : '确定要修改吗？',
                btn : ['确定', '取消'],

                yes  : function (index, layero){
                    layer.close(index);
                    $.ajax({
                        url:'/admin/car/editCar',
                        type:'post',
                        data:data1,
                        success:function (data) {

                            if (data.resultCD == 200){

                                layer.msg("车辆修改成功")

                            }else {
                                layer.alert(data.errorMsg+',请检查')

                            }
                        }});
                }
            });
            return false;
        });

        //自定义验证
        form.verify({
            pass: [/(.+){6,12}$/, '密码必须6到12位'],
            rePassword: function(value) {
            var repassvalue = $('#pwd').val();
            if (value != repassvalue) {
                return '两次输入的密码不一致!';
            }
        },

            description:function (value, item) {

                if(value.length>240){
                    return '输入字符长度大于240';
                }
            }
        });

        {if condition="$returnData['errorMsg'] != ''"}
        layer.msg("{$returnData['errorMsg']}")
        {/if}

    })


</script>
