        <!-- 底部开始 -->
        <footer>
          <div class="pull-right">
            {php}echo date("Y");{/php} © 泽银名车管理系统
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- 底部结束 -->
      </div>
    </div>

    <!-- Bootstrap -->
    <!--<script src="__STATIC__/admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>-->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- 自定义主题脚本 -->
    <script src="__STATIC__/admin/build/js/custom.min.js"></script>
    <!-- layui腳本 -->
    <script src="__STATIC__/admin/layui/layui.js"></script>
     <!-- jquery.form腳本 -->
     <!-- <script src="__STATIC__/admin/js/jquery/jquery.form.js"></script> -->
     <script src="https://cdn.bootcss.com/jquery.form/3.51/jquery.form.min.js"></script>

     <!-- jQuery自定义内容滚动 -->
    <script src="__STATIC__/admin/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
	
  </body>
</html>
