<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{:config('custom.site_name')} | 管理系统</title>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- icon图标AND字体 -->
    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- 模板样式-->
    <link href="__STATIC__/admin/build/css/custom.min.css" rel="stylesheet">
    <!-- layui 样式 -->
    <link href="__STATIC__/admin/layui/css/layui.css" rel="stylesheet">
    <!-- 自定义样式 -->
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <!-- jQuery自定义内容滚动 -->
    <link href="__STATIC__/admin/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
  </head>
  <body class="nav-md ">
    <div class="container body">
      <div class="main_container">